- if filter_group && search_form
  - filter_group_id = filter_group.id
  - fields = filter_group.filter_fields.order(:sort_order, :id)

  %div.filter-group
    %h5
      = filter_group.name


    - fields.each do |field|
    
      - if !field.lookup_table

        - if field.filter_type.name == Reporting::FilterType::RANGE
          = render partial: 'reporting/filters/range_filter', locals: {search_form: search_form, field: field}
        
        - else
          = render partial: 'reporting/filters/regular_filter', locals: {search_form: search_form, field: field}
      
      - else
        = render partial: 'reporting/filters/lookup_table_filter', locals: {search_form: search_form, field: field}
      %br
    %br
    = button_tag t(:reset_filter_panel), type: 'button', class: 'reset-filter-panel'
            


