= search_form.label "#{field.title || field.name}" rescue nil
- lookup_table = field.lookup_table
- lookup_table.data_model.reset_column_information if lookup_table
= search_form.collection_select "#{field.name}_in", lookup_table.data_model.all.uniq, "#{lookup_table.id_field_name}", "#{lookup_table.display_field_name}", {:include_blank => true}, {class: 'filter-item', :multiple => field.filter_type.name == Reporting::FilterType::MULTI_SELECT}