= search_form.label "#{field.title || field.name}" rescue nil
- field_id = "#{field.name}_gteq"
= search_form.search_field field_id, class: 'filter-item'
= "-"
- field_id = "#{field.name}_lteq"
= search_form.search_field field_id, class: 'filter-item'