= search_form.label "#{field.title || field.name + '_' + field.filter_type.name}"  rescue nil
- filter_type_name = field.filter_type.name || ''
- field_id = "#{field.name}_#{filter_type_name}"
= search_form.search_field field_id, class: 'filter-item'